{% extends "index.html" %}

{% block title %}Board Details{% endblock %}

{% block content %}
<div class="board-profile-details d-flex">
    <div class="images-container">
        <div class="extra-images-container">
            <div class="extra-images">
                {% if board.extra_photos %}
                    <img class="extra-image" src="{{ board.main_photo }}" alt="Main Board Image">
                    {% for photo in board.extra_photos %}  
                        <img class="extra-image" src="{{ photo }}" alt="Extra Board Image" data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}">
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-image-container">
                            <img class="carousel-image" src="{{ board.main_photo }}" alt="Main Board Image">
                        </div>
                    </div>
                    {% if board.extra_photos %}
                        {% for photo in board.extra_photos %}
                            <div class="carousel-item">
                                <div class="carousel-image-container">
                                 <img class="carousel-image" src="{{ photo }}" alt="Extra Board Image">
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="board-profile-data">
        <h2 class="board-profile-title">{{ board.board_manufacturer }} - {{ board.model }} 
        {% if current_user.id != board.user_id %}
        <!-- Favourite form -->
        <form
            class="favourite-form form-inline"
            method="POST"
            action="{{ url_for('board_routes.toggle_favourite', board_id=board.board_id) }}"
            data-board-id="{{ board.board_id }}"
        >
            {{ form.csrf_token }}
            <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                <i
                    class="bi {% if board in current_user.favourite_boards %}bi-heart-fill text-red{% else %}bi-heart{% endif %}"
                ></i>
            </button>
        </form>
        {% endif %}
        </h2>
        {% if current_user.id == board.user_id %}
        <a href="{{ url_for('board_routes.edit_board', board_id=board.board_id) }}" class="btn btn-dark">Edit</a>
        <button class="btn btn-danger" form="delete-board-temp" type="submit">Delete</button>
            <!-- Delete form -->
            <form id="delete-board-temp" class="delete-board-temp" method="POST" action="{{ url_for('board_routes.delete_board', board_id=board.board_id) }}">
                {{ form.hidden_tag() }} <!-- CSRF token for form -->
            </form>
        {% endif %}
        <p>
            {{ board.sell_or_rent }} - €{{ board.asking_price }}
            {% if board.sell_or_rent == 'For rent' %}
                per day
            {% endif %}
        </p>
        <p>Length: {{ board.board_length_feet }}' {{ board.board_length_inches }}"</p>
        <p>Volume: {{ board.volume_litres }} L</p>
        <p>Width: {{ board.width_integer }} {{ convert_decimal_to_fraction(board.width_fraction) }}</p>
        <p>Depth: {{ board.depth_integer }} {{ convert_decimal_to_fraction(board.depth_fraction) }}</p>
        <p>Condition: {{ board.condition }}</p>
        <p>Location: {{ board.board_location_text }}</p>
        <p>Delivery Options: {{ board.delivery_options }}</p>
        <p>Fin Setup: {{ board.fin_setup }}</p>
        <p>Board Material: {{ board.board_material }}</p>
        <p>Extra Details: {{ board.extra_details }}</p>
        <p>Added by: <a href="{{ url_for('user_routes.user_profile', username=board.user.username) }}">{{ board.user.username }}</a></p>
        {% if current_user.id != board.user_id %}
        <a href="{{ url_for('contact', board_id=board.board_id, user_id=board.user_id) }}" class="btn btn-primary">Contact</a>
        {% endif %}
    </div>
</div>
{% endblock %}
