{% extends "index.html" %}

{% block title %}List Boards{% endblock %}
{% block content %}
<body>
    <div id="list-board-title">List Your Board</div>
    <div id="list-board-form-container">
        <form id="list-board-form" method="POST" action="{{ url_for('board_routes.list_board') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="list-board-container">
                <label class="list-board-label">{{ form.board_location_text.label }}</label>
                <div class="list-board-input">{{ form.board_location_text(id='board-location-text', class_='input-field', readonly=True) }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.board_manufacturer.label }}</label>
                <div class="list-board-input">{{ form.board_manufacturer(class_='input-field') }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.model.label }}</label>
                <div class="list-board-input">{{ form.model(class_='input-field') }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.sell_or_rent.label }}</label>
                <div class="list-board-input">
                    <select class="input-field" id="sell-or-rent" name="sell_or_rent" required>
                        {% for value, label in form.sell_or_rent.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.asking_price.label }}</label>
                <div class="list-board-input">{{ form.asking_price(class_='input-field', min=1, max=2000) }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.condition.label }}</label>
                 <div class="list-board-input">
                    <select class="input-field" id="condition" name="condition" required>
                        {% for value, label in form.condition.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                 </div>
            </div>
            <div class="list-board-container" id="board-location-coordinates-form">
                <label id="board-location-coordinates-label" class="list-board-label">{{ form.board_location_coordinates.label }}</label>
                <div id="board-location-coordinates-input" class="list-board-input">{{ form.board_location_coordinates(class_='input-field') }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.delivery_options.label }}</label>
                <div class="list-board-input">
                    <select class="input-field" id="delivery-options" name="delivery_options" required>
                        {% for value, label in form.delivery_options.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.volume_litres.label }}</label>
                <div class="list-board-input">{{ form.volume_litres(class_='input-field', min=1, max=100) }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">Board Length</label>
                <div class="list-board-input">{{ form.board_length_feet(class_='input-field small-input') }} Feet {{ form.board_length_inches(class_='input-field small-input') }} Inches</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">Width:</label>
                <div class="list-board-input">{{ form.width_integer(class_='small-input') }} {{ form.width_fraction(class_='input-field small-input') }} Inches</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">Depth:</label>
                <div class="list-board-input">{{ form.depth_integer(class_='input-field small-input') }} {{ form.depth_fraction(class_='input-field small-input') }} Inches</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.fin_setup.label }}</label>
                <div class="list-board-input">
                    <select class="input-field" id="fin-setup" name="fin_setup" required>
                        {% for value, label in form.fin_setup.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.board_material.label }}</label>
                <div class="list-board-input">
                    <select class="input-field" id="board-material" name="board_material" required>
                        {% for value, label in form.board_material.choices %}
                            <option value="{{ value }}" {% if value == '' %}disabled selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.main_photo.label }}</label>
                <div class="list-board-input">{{ form.main_photo(class_='input-field') }}</div>
            </div>
            <div class="list-board-container">
                <label class="list-board-label">{{ form.extra_photos.label }}</label>
                <div class="list-board-input">{{ form.extra_photos(class_='input-field', multiple=True) }}</div>
            </div>
            
            <div class="list-board-container">
                <label class="list-board-label">{{ form.extra_details.label }}</label>
                <div class="list-board-input">{{ form.extra_details(class_='input-field') }}</div>
            </div>
            
            <div class="list-board-container">
                <button id="submit-button" type="submit">Submit</button>
            </div>
            <div id="upload-message" style="display: none;">Your board is being uploaded, please wait...</div>
        </form>
    </div>
</body>
{% endblock %}
</html>