{% extends "index.html" %} <!-- This template extends from index.html -->

{% block title %}Search Boards{% endblock %} <!-- Title of the page -->

{% block content %} <!-- Content of the page starts here -->
<button id="filters-show-hide-button">Show / Hide Filters</button> <!-- Button for showing/hiding filters --> 
<div id="main-search-container">
    <div id="filter-form"> <!-- Filter form, initially hidden -->
         
        <form method="GET" action="{{ url_for('search_boards') }}"> <!-- Form action is the search_boards route -->
            {{ form.hidden_tag() }} <!-- CSRF token for form -->
            <div class=form-drop-down-container>
                <div id="filter-button-container">
                    <button class="btn btn-success search" type="submit">Search</button> <!-- Search button -->
                    <button id="reset-button" class="btn btn-secondary" type="button">Reset filters</button> <!-- Reset filters button -->
                </div>
                    {{ form.sell_or_rent.label }} {{ form.sell_or_rent() }}
                    <label id="coordinates_label" style="display: none;">{{ form.board_location_coordinates.label }}</label> 
                    {{ form.board_location_coordinates(id='board_location_coordinates', style="display: none;") }}
                    {{ form.max_distance.label }} {{ form.max_distance() }}
                    {{ form.board_manufacturer.label }} {{ form.board_manufacturer() }}
                    {{ form.model.label }} {{ form.model() }}
                    {{ form.condition.label }} {{ form.condition() }}
                    {{ form.delivery_options.label }} {{ form.delivery_options() }}
            </div>
            <!-- The following sections are for price, length, width, depth, and volume filters with sliders -->
            <!-- Each section has a visible label, a slider, and two hidden inputs for the min and max values -->
            <!-- The min and max values are either from the session or default values -->

            <!-- Price filter -->
            <p id="price-value" class = "slider-title">Price</p>
            <div id="price-slider" data-min-price="{{ session['min_price'] or 0 }}" data-max-price="{{ session['max_price'] or 2000 }}"></div>
            <input type="hidden" id="min-price" name="min_price" value="{{ form.min_price.data|default(0) }}">
            <input type="hidden" id="max-price" name="max_price" value="{{ form.max_price.data|default(2000) }}">
            
            <!-- Length filter -->
            <p id="length-value" class = "slider-title">Length</p>
            <div id="length-slider" data-min-length="{{ session['min_length'] or 0 }}" data-max-length="{{ session['max_length'] or 180 }}"></div>
            <input type="hidden" id="min-length" name="min_length" value="{{ form.min_length.data|default(0) }}">
            <input type="hidden" id="max-length" name="max_length" value="{{ form.max_length.data|default(180) }}">

            <!-- Width filter -->
            <p id="width-value" class = "slider-title">Width</p>
            <div id="width-slider" data-min-width="{{ session['min_width'] or 0 }}" data-max-width="{{ session['max_width'] or 30 }}"></div>
            <input type="hidden" id="min-width" name="min_width" value="{{ form.min_width.data|default(0) }}">
            <input type="hidden" id="max-width" name="max_width" value="{{ form.max_width.data|default(30) }}">

            <!-- Depth filter -->
            <p id="depth-value" class = "slider-title">Depth</p> 
            <div id="depth-slider" data-min-depth="{{ session['min_depth'] or 0 }}" data-max-depth="{{ session['max_depth'] or 5 }}"></div>
            <input type="hidden" id="min-depth" name="min_depth" value="{{ form.min_depth.data|default(0) }}">
            <input type="hidden" id="max-depth" name="max_depth" value="{{ form.max_depth.data|default(5) }}">
            
            <!-- Volume filter -->
            <p id="volume-value" class = "slider-title">Volume</p>
            <div id="volume-slider" data-min-volume="{{ session['min_volume'] or 0 }}" data-max-volume="{{ session['max_volume'] or 100 }}"></div>
            <input type="hidden" id="min-volume" name="min_volume" value="{{ form.min_volume.data|default(0) }}">
            <input type="hidden" id="max-volume" name="max_volume" value="{{ form.max_volume.data|default(100) }}">
            <br>      
        </form>
    </div>
    
    <!-- Display the boards -->
    <div id="board-container">
        {% for board in boards %} <!-- Loop through each board in the boards list -->
        <div class="board">
            <div class="board-header">
                <div class="board-title-price">
                    <div class="price-details">
                        <p class="for-sale-rent {{ 'sale' if board.sell_or_rent == 'For sale' else 'rent' }}">{{board.sell_or_rent}}</p>
                    </div>
                    <div class="board-title-container">
                        <p class="board-manufacturer">{{ board.board_manufacturer }}</p> <!-- Board title -->
                        <p class="board-model">{{ board.model }}</p>
                    </div>
                </div>

                <div class="board-measurements ">
                    <p >€{{ board.asking_price }}</p>
                    <p >{{ board.board_length_feet }}' {{ board.board_length_inches }}"</p> 
                    <p >{{ board.volume_litres }} L</p>
                </div>
            </div>
            <!-- <a href="{{ url_for('board_profile', board_id=board.board_id) }}" class="board-link" style="color: inherit; text-decoration: none;"> -->
                <div class="board-image-container" data-url="{{ url_for('board_profile', board_id=board.board_id) }}">
                        <img src="{{ board.main_photo }}" class="board-search board-image" alt="Board Image">
                    
                    <!-- Display board data --> 
                    <div class="board-data-container">
                        <!-- Display board data --> 
                        <p class="board-data">Width: {{ board.width_integer }} {{ convert_decimal_to_fraction(board.width_fraction) }}</p>
                        <p class="board-data">Depth: {{ board.depth_integer }} {{ convert_decimal_to_fraction(board.depth_fraction) }}</p>
                        <p class="board-data">Condition: {{ board.condition }}</p>
                        <p class="board-data">Location: {{ board.board_location_text }}</p>
                        <p class="board-data">Coordinates: {{ board.board_location_coordinates }}</p>
                        <p class="board-data">Delivery Options: {{ board.delivery_options }}</p>
                        <p class="board-data">Extra Details: {{ board.extra_details }}</p>
                        <p class="board-data">Added by: <a href="{{ url_for('user_profile', username=board.user.username) }}">{{ board.user.username }}</a></p>
            
                    </div>
                    {% if current_user.id != board.user_id %}
                    <!-- Favourite form -->
                    <form class="favourite-form" method="POST" action="{{ url_for('toggle_favourite', board_id=board.board_id) }}" data-board-id="{{ board.board_id }}">
                        {{ form.csrf_token }}
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                            <i class="heart-search bi {% if board in current_user.favourite_boards %}bi-heart-fill text-red{% else %}bi-heart{% endif %}"></i> <!-- Heart icon, filled if the board is a favourite -->
                        </button>
                    </form>
                    {% endif %}
                    <!-- Delete form -->
                    <form id="delete-board-temp" method="POST" action="{{ url_for('delete_board', board_id=board.board_id) }}">
                        {{ form.hidden_tag() }} <!-- CSRF token for form -->
                        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                            <i class="bi bi-trash trash-temp"></i> <!-- Bin icon -->
                        </button>
                    </form>
                </div>  
            <!-- </a> -->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} <!-- Content of the page ends here -->