{% extends "index.html" %} {% block content %}
<div class="container">
    <h2>Edit profile</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>Current image:</p>
        <img
            class="profile-picture"
            src="{{ current_user.image_url }}"
            target="_blank"
        />
        <br />
        {{ form.image_file.label }} {{ form.image_file(class_="mt-3") }}

        <div class="mt-3">
            <a
                href="javascript:void(0);"
                class="btn btn-dark"
                onclick="history.back();"
                >Go Back</a
            >
            <input
                class="btn btn-primary"
                type="submit"
                value="Change profile picture"
            />
        </div>
    </form>
</div>
{% endblock %}
